manejo-estudiantes/src/wsdl/localhost_8080/ServerWebService/WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.4 (RELEASE-2.4.4-ce05bec; 2020-04-17T12:44:48+0000) JAXWS-RI/2.3.3 JAXWS-API/2.3.3 JAXB-RI/2.3.3 JAXB-API/2.3.3 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.4 (RELEASE-2.4.4-ce05bec; 2020-04-17T12:44:48+0000) JAXWS-RI/2.3.3 JAXWS-API/2.3.3 JAXB-RI/2.3.3 JAXB-API/2.3.3 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serverwebservice.local/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serverwebservice.local/" name="WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://serverwebservice.local/" schemaLocation="http://localhost:8080/ServerWebService/WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="materiasestudiante">
<part name="parameters" element="tns:materiasestudiante"/>
</message>
<message name="materiasestudianteResponse">
<part name="parameters" element="tns:materiasestudianteResponse"/>
</message>
<message name="estudiantesmateria">
<part name="parameters" element="tns:estudiantesmateria"/>
</message>
<message name="estudiantesmateriaResponse">
<part name="parameters" element="tns:estudiantesmateriaResponse"/>
</message>
<message name="adicion">
<part name="parameters" element="tns:adicion"/>
</message>
<message name="adicionResponse">
<part name="parameters" element="tns:adicionResponse"/>
</message>
<portType name="ServerWebService">
<operation name="materiasestudiante">
<input wsam:Action="http://serverwebservice.local/ServerWebService/materiasestudianteRequest" message="tns:materiasestudiante"/>
<output wsam:Action="http://serverwebservice.local/ServerWebService/materiasestudianteResponse" message="tns:materiasestudianteResponse"/>
</operation>
<operation name="estudiantesmateria">
<input wsam:Action="http://serverwebservice.local/ServerWebService/estudiantesmateriaRequest" message="tns:estudiantesmateria"/>
<output wsam:Action="http://serverwebservice.local/ServerWebService/estudiantesmateriaResponse" message="tns:estudiantesmateriaResponse"/>
</operation>
<operation name="adicion">
<input wsam:Action="http://serverwebservice.local/ServerWebService/adicionRequest" message="tns:adicion"/>
<output wsam:Action="http://serverwebservice.local/ServerWebService/adicionResponse" message="tns:adicionResponse"/>
</operation>
</portType>
<binding name="ServerWebServicePortBinding" type="tns:ServerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="materiasestudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="estudiantesmateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebService">
<port name="ServerWebServicePort" binding="tns:ServerWebServicePortBinding">
<soap:address location="http://localhost:8080/ServerWebService/WebService"/>
</port>
</service>
</definitions>